@import "tailwindcss";

@theme {
  --font-bebas: "Bebas Neue", cursive;
  --font-roboto: "Roboto", sans-serif;
  --font-google-sans: "Google Sans Flex", sans-serif;
  --font-arimo: "Arimo", sans-serif;
}

html, body {
  overflow-x: hidden;
  width: 100%;
}